In [103]:
import geopandas as gpd
import matplotlib
import numpy as np

countries_gdf = gpd.read_file('./Material/ne_10m_admin_0_countries.shp')


# load states from pqrquet
import pandas as pd

df = pd.read_parquet('hdfs://localhost:8020/FinalProject/parquet_archive/date_hour=2019-12-31 23%3A00%3A00/part-00000-fd64f06b-cab9-48f1-981b-06e9e8bfb037.c000.snappy.parquet')
# df = pd.read_json('hdfs://localhost:8020/FinalProject/Archive/opensky_state_vectors_json_2019-12-26_00_04_17.json')

In [89]:
states_gdf = gpd.GeoDataFrame(df[['icao24', 'callsign', 'time', 'on_ground']], geometry = gpd.points_from_xy(df['longitude'], df['latitude']))
states_gdf = states_gdf[states_gdf['geometry'].is_valid]
# c = countries_gdf['NAME'][countries_gdf['geometry'].contains(states_gdf['geometry'][3])]

In [99]:
def get_country(row):
    if not row['geometry'].is_valid:
        print('invalid')
        return ""
    print(type(row['geometry']))
    country = countries_gdf['NAME'][countries_gdf['geometry'].contains(row['geometry'])]
    # Need to handle cases when no country found
    country = country.item() if len(country) > 0 else ""
#     print(f"{row['icao24']} : {country}")
    return country

In [100]:

import numpy as np
from multiprocessing import  Pool

sample = states_gdf[:100]

def parallelize_dataframe(df, func, n_cores=4):
    df_split = np.array_split(df, n_cores)
    pool = Pool(n_cores)
    df = pd.concat(pool.map(func, df_split))
    pool.close()
    pool.join()
    return df

def gpd_apply(df):
    df['country'] = df.apply(get_country, axis=1)
    return df

In [101]:
# %%time
res = parallelize_dataframe(sample, gpd_apply)

res.head()

<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>
<class 'shapely.geometry.point.Point'>

,icao24,callsign,time,on_ground,geometry,country
0,ab1644,UAL2256,2019-12-31 21:18:40,0,POINT (-100.36680 30.94830),United States of America
1,ab6fdd,AAL233,2019-12-31 21:18:40,0,POINT (-83.09850 28.53740),
2,aaf633,UAL263,2019-12-31 21:18:40,0,POINT (-121.30250 45.07980),United States of America
3,a5e525,N47918,2019-12-31 21:18:40,0,POINT (-86.24820 30.28670),
4,a4b21b,UAL1689,2019-12-31 21:18:40,0,POINT (-118.11360 33.63860),

In [87]:
%%time
sample = states_gdf[:2000]

sample['country'] = sample.apply(get_country, axis=1)

sample.head()

CPU times: user 1min 34s, sys: 492 ms, total: 1min 34s
Wall time: 1min 35s

/home/naya/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [97]:
df.head()

,time,icao24,callsign,last_contact,longitude,latitude,baro_altitude,on_ground,velocity,geo_altitude,squawk,position_source
0,2019-12-31 21:18:40,ab1644,UAL2256,2019-12-31 21:18:40,-100.366798,30.948299,7315.200195,0,210.479996,7505.700195,2524,0
1,2019-12-31 21:18:40,ab6fdd,AAL233,2019-12-31 21:18:40,-83.098503,28.537399,10058.400391,0,265.850006,10515.599609,1353,0
2,2019-12-31 21:18:40,aaf633,UAL263,2019-12-31 21:18:40,-121.302498,45.079800,6789.419922,0,236.509995,6918.959961,6622,0
3,2019-12-31 21:18:40,a5e525,N47918,2019-12-31 21:18:40,-86.248199,30.286699,1341.119995,0,40.389999,1356.359985,2075,0
4,2019-12-31 21:18:40,a4b21b,UAL1689,2019-12-31 21:18:40,-118.113602,33.638599,10660.379883,0,239.720001,10767.059570,3710,0

In [7]:
res.head(150)

,icao24,callsign,time,on_ground,geometry,country
0,ab1644,UAL2256,2019-12-31 21:18:40,0,POINT (-100.36680 30.94830),United States of America
1,ab6fdd,AAL233,2019-12-31 21:18:40,0,POINT (-83.09850 28.53740),
2,aaf633,UAL263,2019-12-31 21:18:40,0,POINT (-121.30250 45.07980),United States of America
3,a5e525,N47918,2019-12-31 21:18:40,0,POINT (-86.24820 30.28670),
4,a4b21b,UAL1689,2019-12-31 21:18:40,0,POINT (-118.11360 33.63860),
5,a3a575,JBU2738,2019-12-31 21:18:40,0,POINT (-68.01480 18.20040),
6,ac4970,RVF960,2019-12-31 21:18:40,0,POINT (-150.73869 60.83490),United States of America
7,a1befc,UAL2025,2019-12-31 21:18:40,0,POINT (-106.33330 39.61890),United States of America
8,aa0967,CFS7676,2019-12-31 21:18:40,0,POINT (-150.04179 61.24890),
9,ad5623,AAL2354,2019-12-31 21:18:40,0,POINT (-105.32410 32.80980),United States of America
10,acdfc7,N929BW,2019-12-31 21:18:40,0,POINT (-86.77710 35.59790),United States of America
11,a48850,UPS255,2019-12-31 21:18:40,0,POINT (-2.81080 41.86060),Spain
12,a0f56e,N161AJ,2019-12-31 21:18:40,0,POINT (-106.59940 36.45970),United States of America
13,ad694c,SWA6715,2019-12-31 21:18:40,0,POINT (-75.08560 40.33930),United States of America
14,a2355d,SKW4459,2019-12-31 21:18:40,0,POINT (-113.91930 50.65500),Canada
15,ab0351,ENY4190,2019-12-31 21:18:40,0,POINT (-97.51620 33.27720),United States of America
16,abacd2,UAL1770,2019-12-31 21:18:40,0,POINT (-105.61660 41.34830),United States of America
17,a47597,DAL366,2019-12-31 21:18:40,0,POINT (-89.25570 30.56420),United States of America
18,a03d11,N114WP,2019-12-31 21:18:40,0,POINT (-118.02700 34.09940),United States of America
19,00b207,SAA265,2019-12-31 21:18:40,0,POINT (12.18840 36.28120),
20,a963f7,FFT2147,2019-12-31 21:18:40,0,POINT (-116.30270 36.21810),United States of America
21,a39bfa,UAL1616,2019-12-31 21:18:40,0,POINT (-100.22990 31.91050),United States of America
22,a5f834,N484HR,2019-12-31 21:18:40,0,POINT (-114.90450 35.96550),United States of America
23,471efb,WZZ1560,2019-12-31 21:18:40,0,POINT (27.25820 43.74150),Bulgaria
24,acdffc,DAL1355,2019-12-31 21:18:40,0,POINT (-101.76590 38.35480),United States of America
25,a3a538,FFT64,2019-12-31 21:18:40,0,POINT (-78.18840 33.96630),United States of America
26,471efe,WZZ2854,2019-12-31 21:18:40,0,POINT (19.73610 47.86910),Hungary
27,471eff,WZZ27,2019-12-31 21:18:40,0,POINT (14.17090 47.00400),Austria
28,ad9cd9,N9764F,2019-12-31 21:18:40,0,POINT (-80.21910 25.98480),United States of America
29,e8026a,LPE2140,2019-12-31 21:18:40,0,POINT (-73.04010 -15.97550),Peru
...,...,...,...,...,...,...
124,a76d03,N578KA,2019-12-31 21:18:40,0,POINT (-103.93760 39.65450),United States of America
126,471f82,WZZ9TV,2019-12-31 21:18:40,0,POINT (3.24280 51.05750),Belgium
127,471f83,WZZ1XY,2019-12-31 21:18:40,0,POINT (18.42220 46.15050),Hungary
128,471f80,WZZ6485,2019-12-31 21:18:40,0,POINT (15.49020 46.84570),Austria
129,471f81,WZZ2328,2019-12-31 21:18:40,0,POINT (27.56710 42.12340),Bulgaria
130,a40d7a,DAL1291,2019-12-31 21:18:40,0,POINT (-94.56280 43.98280),United States of America
131,471f86,WZZ9WH,2019-12-31 21:18:40,0,POINT (15.14680 43.03170),
132,471f87,WZZ653,2019-12-31 21:18:40,0,POINT (2.51600 41.34010),
133,471f84,WZZ655,2019-12-31 21:18:40,0,POINT (0.78690 52.10450),United Kingdom
134,c04829,ROU1766,2019-12-31 21:18:40,0,POINT (-77.49140 36.83350),United States of America
135,a2ba4f,AAY2121,2019-12-31 21:18:40,0,POINT (-77.62440 37.09450),United States of America
136,86cef4,ANA828,2019-12-31 21:18:40,0,POINT (84.54810 25.74940),India
137,acba30,EDV5349,2019-12-31 21:18:40,0,POINT (-85.47000 40.29010),United States of America
138,471f6d,WZZ4430,2019-12-31 21:18:40,0,POINT (24.42360 42.61690),Bulgaria
140,e48ba7,TAM8071,2019-12-31 21:18:40,0,POINT (-3.46720 38.41730),Spain
141,471f6b,WZZ1773,2019-12-31 21:18:40,0,POINT (-22.60540 63.99450),Iceland
142,a3da0f,N34729,2019-12-31 21:18:40,0,POINT (-105.14950 40.15760),United States of America
143,e48baa,TAM8085,2019-12-31 21:18:40,0,POINT (-3.82980 47.74480),
144,abad6c,SWA5446,2019-12-31 21:18:40,0,POINT (-107.47610 37.19590),United States of America
145,a3ed52,N352MD,2019-12-31 21:18:40,0,POINT (-104.59010 35.24280),United States of America
146,471f91,WZZ8YN,2019-12-31 21:18:40,0,POINT (14.19390 53.79620),
147,471f92,WZZ6260,2019-12-31 21:18:40,0,POINT (29.90270 49.00310),Ukraine
148,34444c,IBS3741,2019-12-31 21:18:40,0,POINT (-2.70810 40.97280),Spain
149,34444f,AEA016,2019-12-31 21:18:40,0,POINT (-61.25360 33.63680),
150,aae1e2,ENY3645,2019-12-31 21:18:40,0,POINT (-80.08000 27.41090),
151,471f90,WZZ19AA,2019-12-31 21:18:40,0,POINT (6.47940 53.21750),Netherlands
152,344459,AEA1038,2019-12-31 21:18:40,0,POINT (-2.55980 40.59750),Spain
153,344455,IBS3641,2019-12-31 21:18:40,0,POINT (-3.52560 40.43520),Spain
154,471f68,WZZ621,2019-12-31 21:18:40,0,POINT (16.11780 47.07480),Austria
155,471f69,WZZ8UT,2019-12-31 21:18:40,0,POINT (18.33680 54.03570),Poland

In [8]:
!ls ./Material/ne_10m_admin_0_countries.shp

countries.geojson		      ne_10m_admin_0_countries.shx
ne_10m_admin_0_countries.cpg	      ne_10m_admin_0_countries.VERSION.txt
ne_10m_admin_0_countries.dbf	      ne_10m_admin_0_countries.zip
ne_10m_admin_0_countries.prj	      ne_10m_airports.README.html
ne_10m_admin_0_countries.README.html  ne_10m_airports.shp
ne_10m_admin_0_countries.shp	      ne_10m_airports.zip

In [77]:
class A:
    def __init__(self):
        print('class A init')
    
    @staticmethod
    def static_func():
        return(f'A class : static func')
        
    def object_func(self):
        print('A class : not static')

class B(A):
    def object_func(self):
        print
        
    def use_static(self):
        st = super().static_func()
        print(f'B class : using static from A: {st}')

In [78]:
A.static_func()

'A class : static func'

In [79]:
a = A()
b = B()
b.use_static()

class A init
class A init
B class : using static from A: A class : static func

TypeError: getlist() missing 1 required positional argument: 'self'